
.main-container{
    padding:4% 8%;
   
}
p{
    font-size: 1.1rem !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; 

}
.sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
 .left-container{
     padding: 0;
     padding-top: 8% !important;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-container{
    padding: 0 ;
    padding-top: 0 !important;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.program-img{
margin-left: 70px !important;
}
@media screen and (max-width:800px){
   .left-container{
        width: 100%;
        padding: 1% 1%;
        flex-direction: column;
    }
    .sub-container{
        flex-direction: column;
    }
    .right-container{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important; 
        width: auto !important;
    }
    .program-img{
        margin-left: 0 !important;
    }
}
.what-is-edu{
    font-size: 2.5rem !important;
    font-weight: 800;
    letter-spacing: 3px;
}
.what-is-edu .text-color{
    color: #008cc8;
}
 .para-text{
    color: #008cc8 !important;
}

.para{
    font-weight: 450 ;
    font-size: 1.3rem !important;
    padding: 0% 10%;
}
.free-membership , .premium-membership{
    padding: 10px 55px;
    box-shadow: 0px 1px 3px 1px;
    margin: 0% 10%;
    background: linear-gradient(90deg, rgba(26,34,117,1) 0%, rgba(22,61,157,1) 35%, rgba(21,199,207,1) 100%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 20px;
    text-align: center;
}
.free-head , .pre-head{
    padding: 5px;
}
@media screen and (max-width:800px){
    .free-membership , .premium-membership{
        font-size: 0.9remrem;
        font-weight: 500; 
        padding: 10px 10px;
    }
}